<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{user_create}">ユーザー登録</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
</head>

<body>

<div layout:fragment="content">
  <div class="main">
    <div class="title">
      <h2 th:text="#{user_create}">ユーザー登録</h2>
    </div>
    
    <form th:action="@{/signup}" method="post" th:object="${userForm}">

      <ul>
        <li th:each="error: ${#fields.detailedErrors()}" th:text="${error.message}">
      </ul>
      <div class="field">
        <span th:text="#{login_id}">ログインID</span> : <input type="text" name="loginId" th:value="*{loginId}"><br/>
      </div>
      <div class="field">
        <span th:text="#{name}">名前</span> : <input type="text" name="name" th:value="*{name}"><br/>
      </div>
      <div class="field">
        <span th:text="#{email}">メールアドレス</span> : <input type="text" name="email" th:value="*{email}"><br/>
      </div>
      <div class="field">
        <span th:text="#{password}">パスワード</span> : <input type="password" name="password" th:value="*{password}">
      </div>
      <button type="submit" th:text="#{register}">登録</button>
    </form>
  </div>
</div>

</body>
</html>
